.orders-container {
    width : 100%;
}

.orders-table {
    width : 100%;
    border-collapse : collapse;
    overflow : hidden;
    border-radius : 4px;
    border : 1px solid #eee;
}

.orders-container table thead tr {
    background : #0094ff;
}

.orders-container table tbody tr:nth-child(odd) {
    background : #808080;
}

.orders-container table th,td {
    border : 1px solid #eee;
    padding : 10px;
}